.margen {
    margin: 15px;
  }
  
  .secciones {
    display: flex;
    width: 100%;
    flex: 1, 0 ;
  }
  
  .seccion {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .arriba {
    background-color: cornflowerblue;
    height: 50px;
  }

  .emmedio {
    background-color: cornflowerblue;
    height: 450px;
  }

  .abajo {
    background-color: cornflowerblue;
    height: 50px;
  }